@import '../../sass/vars.scss';


.searcher-bar{
  display: flex;
  justify-content: center;
  margin: 10px;
}
.searcher-bar form{
  display: flex;
  justify-content: center;
}
.searcher-bar form>input{
  padding: 10px;
  outline: none;
  color: $white;
}
.inputText{
  width: 250px;
  background: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: 5px solid $back-purple;
  border-bottom: 5px solid $back-purple;
  border-left: 5px solid $back-purple;
  border-right: none;
}
.inputSubmit{
  border: 5px solid $back-purple;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: .3s;
  background: $back-purple;
  font-weight: 400;
}
.inputSubmit:hover{
  background: $main-purple;
}
.result-area{
  display: flex;
  justify-content: center;
  align-self: center;
  flex-flow: row wrap;
  flex: 1 1 25%;
}
.result-area img{
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba($color: #000, $alpha: 0.2);
}